<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Timescraper</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/greyTimes.png">
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>
  
    <!-- Fixed Nav Bar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-3">
        <h2 id="titleBar">Timescraper</h2>
        <a href='/' class="waves-effect waves-light btn btn-large" id="scrapeButton"><i class="material-icons right" id="scrapeIcon">blur_linear</i>Scrape</a>

          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          
        </div>
      </nav>
    </div>

   

    <!-- Page Content -->
    <main> 

    


      <!-- Render All Articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>


    <!-- Footer -->
    <footer class="page-footer grey darken-3">
      
    </footer>



    <!-- Link in jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Basic Page JavaScript for Repsonsiveness -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>
    
  </body>

</html>